/* Reset padding and margin for all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Add this to include padding and border in the element's total width and height */
}


html{
    scroll-behavior: smooth;
}

/* Root container that will use CSS Grid */
#root {
   display: grid;
   grid-template-columns: 20vw 1fr ;
   grid-template-areas: 
    /* creating rows to place our grid */
    "navBar navBar"
    "sideBar main"
    "sideBar footer"
   ;
}

nav{

    grid-area: navBar;
    background-color: rgb(89, 38, 184);
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:1rem;
    top:0;
    position: sticky;
}

aside {
    grid-area: sideBar;
    position: sticky;
    top: 51px;
    height: calc(100vh - 51px);
    align-self: start;
    background-color: rgba(36, 34, 34, 0.555);
    display: flex;
    justify-content: center;
    padding: 1rem;
    
}
 ul{
    list-style: square;
    color: rgb(212, 223, 231);
    font-weight: 600px;
 }
@media screen and (max-width: 768px) {

    #root{
        grid-template-columns: 1fr ;

    }

    aside{
        position: fixed;
        width: 300px;
        display: none;
        padding: 1rem;
    }
    .show{
        display: block;
    }
    
}

main{
    grid-area: main;
    padding: 1rem;
   
}

footer{
    grid-area: footer;
    background-color: rgb(89, 38, 184);
    padding: 10px;
    
}

#navBarId .navLeftClass a{
    padding: 10px;
    text-decoration: none;
    color: antiquewhite;
}

#navBarId .navRightClass a{
    padding: 10px;
    text-decoration: none;
    color: antiquewhite;
}